<div class="container mt-5 text-center">
  <h1 class="display-4 fw-bold">Bienvenue sur NehmFlix</h1>
  <p class="lead mt-3">
    Explorez des milliers de films et séries grâce à la base de données TMDb.<br>
    Créez votre compte pour gérer votre propre watchlist personnalisée,<br>
    voir les synopsis, les notes, les acteurs, et plus encore.
  </p>

  <div class="mt-4 d-flex justify-content-center gap-3">
    <a routerLink="/login" class="btn btn-outline-primary btn-lg">Se connecter </a>
    <a routerLink="/register" class="btn btn-primary btn-lg"> S'inscrire</a>
  </div>
</div>
