<div class="container mt-5">
  <h2 class="text-light mb-4">Recherche de films ou séries</h2>

  <div class="input-group mb-4">
    <input type="text" class="form-control" placeholder="Entrez un titre" [(ngModel)]="searchQuery">
    <button class="btn btn-danger" (click)="rechercher()">Rechercher</button>
  </div>

  <div *ngIf="resultats.length === 0 && aRecherche" class="text-light">Aucun résultat trouvé.</div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let media of resultats">
      <app-media-card [media]="media"></app-media-card>
    </div>
  </div>
</div>
